    # Read data from file
    df = None

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

    # What is the average age of men?
    average_age_men = None

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

In [2]:
# Read data from file
import pandas as pd
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [257]:
# What is the average age of men?
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(), 2)
print(average_age_men)

39.43

In [258]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 2)
print(percentage_bachelors)

16.45

In [78]:
#What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
adv_edu_high_salary = df[(df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")].shape[0]
adv_edu_high_salary_percentage = round(adv_edu_high_salary/df.shape[0]*100,2)
print(adv_edu_high_salary_percentage)

# What percentage of people without advanced education make more than 50K?
low_edu_high_salary =  df[(~df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")].shape[0]
low_edu_more_salary_percentage = round(low_edu_high_salary/df.shape[0]*100,2)
print(low_edu_more_salary_percentage)

10.71
13.37

In [ ]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
adv_edu = ['Bachelors', 'Masters', 'Doctorate']
higher_education = df[df['education'].isin(adv_edu)]
lower_education = df[~df['education'].isin(adv_edu)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [212]:
# percentage with salary >50K
higher_education_rich = round(higher_education[higher_education["salary"] == ">50K"].shape[0] / df.shape[0] * 100, 2)

lower_education_rich = round(lower_education[lower_education["salary"] == ">50K"].shape[0] / df.shape[0] * 100, 2)
lower_education_rich

13.37

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df.groupby('hours-per-week').size().head(1).values[0]

np.int64(20)

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (df[(df["salary"] == ">50K") & (df["hours-per-week"] == df["hours-per-week"].min())].shape[0]) / df.shape[0] * 100
num_min_workers

0.006142317496391388

In [148]:
rich_percentage = round(df[df["salary"] == ">50K"].shape[0] / df.shape[0] * 100, 2)

In [ ]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df["salary"] == ">50K"].groupby("native-country").size().sort_values(ascending=False).head(1).index[0]
highest_earning_country_percentage = round(df[df["salary"] == ">50K"].groupby("native-country").size().sort_values(ascending=False).head(1).values[0] / df.shape[0] * 100, 2)

np.float64(22.02)

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[df["native-country"] == "India"].groupby(["occupation", "salary"]).size().reset_index().sort_values(0, ascending=False).head(1)

        occupation salary   0
10  Prof-specialty   >50K  25